[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2"
flake8 = "*"
gunicorn = "*"
python-decouple = "*"
django-heroku = "*"
django-s3-folder-storage = "*"
collectfast = "*"
sentry-sdk = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
codecov = "*"

[requires]
python_version = "3.7"
